
.titulotabla {
  width: 100%;
  height: 39px;
  background: #c4c4c4;
 
}
.contenido {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #62259d;
  text-align: center;
}
.contenido i {
  font-size: 25px;
}
.tablafactura{
  text-align: left;
  margin-top: 45px;
  height: 60vh;
  overflow: auto;
 
}
th {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #000000;
}
td {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 14px;
  align-items: center;
  color: #000000;
}

.pdf {
  color: red;
}
.pdf:hover{
  color: #000000;
}
.xml{
  color: #000000;
}

@media screen and (max-width:960px){
    .prioridad1{
        display: none;
    }
    .contenido {
      height: 35px;
    }
    .tablafactura{
      height: 35vh ;
      overflow: auto;
    }
    th {
      font-size: 16px;
    }
    td {
      font-size: 13px;
    }
   }
   @media screen and (max-width:720px){
    .tablafactura{
      height: 25vh ;
      overflow: auto;
    }
   }
   @media screen and (max-width:420px){
    .tablafactura{
      height: 50vh ;
      overflow: auto;
    }
   }