.traking{
margin-top: 100px;
}

.traking input {
     width: 220px;
     font-size: 16px;
     outline: none;
}
.traking input:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#date::placeholder {
    color: rgb(98, 37, 157, .70);
    text-align: center;
    font-size: 17px;
  }
.traking button {
      background-color: #8f57fd;;
  }
.traking button:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.traking i {
      color: white;
  }

  